<div class="container">
  <div class="row">
    <div class="col">
      <div class="panel with-nav-tabs panel-primary">
        <div class="panel-body">
          <section>
            <header>
              <div class="row">
                <div class="col-md-8">
                  <h3 style="color: blue">Angular Application with Spring Boot REST service</h3>
                </div>
                <div class="col-md-2">
                </div>
              </div>

            </header>
          </section>

          <section class="main">

            <table class="table">
              <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let topic of topics">
                <th scope="row">{{topic.id}}</th>
                <td>{{topic.name}}</td>
                <td>{{topic.description}}</td>
                <td>
                  <button type="button" class="btn btn-success" (click)="editTopic(topic)">Edit</button>
                  <button type="button" class="btn btn-danger" (click)="deleteTopic(topic)">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
